Connected Services/StudentServiceReference/StudentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MSService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MSService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Class" nillable="true" type="tns:Class" />
      <xs:element minOccurs="0" name="ClassID" type="xs:int" />
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfResult" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="Class">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class_Courses" nillable="true" type="tns:ArrayOfClass_Course" />
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Students" nillable="true" type="tns:ArrayOfStudent" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class" nillable="true" type="tns:Class" />
  <xs:complexType name="ArrayOfClass_Course">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class_Course" nillable="true" type="tns:Class_Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass_Course" nillable="true" type="tns:ArrayOfClass_Course" />
  <xs:complexType name="Class_Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class" nillable="true" type="tns:Class" />
      <xs:element minOccurs="0" name="ClassID" type="xs:int" />
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:Course" />
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Class_Course" nillable="true" type="tns:Class_Course" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="Class_Courses" nillable="true" type="tns:ArrayOfClass_Course" />
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Teacher_Courses" nillable="true" type="tns:ArrayOfTeacher_Course" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="ArrayOfTeacher_Course">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teacher_Course" nillable="true" type="tns:Teacher_Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacher_Course" nillable="true" type="tns:ArrayOfTeacher_Course" />
  <xs:complexType name="Teacher_Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:Course" />
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Teacher_ID" type="xs:int" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="teacher" nillable="true" type="tns:teacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teacher_Course" nillable="true" type="tns:Teacher_Course" />
  <xs:complexType name="teacher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Teacher_Courses" nillable="true" type="tns:ArrayOfTeacher_Course" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="teacher" nillable="true" type="tns:teacher" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HeadDepartments" nillable="true" type="tns:ArrayOfHeadDepartment" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subjects" nillable="true" type="tns:ArrayOfSubject" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="teachers" nillable="true" type="tns:ArrayOfteacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="ArrayOfHeadDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeadDepartment" nillable="true" type="tns:HeadDepartment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeadDepartment" nillable="true" type="tns:ArrayOfHeadDepartment" />
  <xs:complexType name="HeadDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeadDepartment" nillable="true" type="tns:HeadDepartment" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Results" nillable="true" type="tns:ArrayOfResult" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Result" nillable="true" type="tns:Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResult" nillable="true" type="tns:ArrayOfResult" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created_at" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Point" type="xs:decimal" />
      <xs:element minOccurs="0" name="Student" nillable="true" type="tns:Student" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="tns:Subject" />
      <xs:element minOccurs="0" name="SubjectID" type="xs:int" />
      <xs:element minOccurs="0" name="Updated_at" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ArrayOfteacher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="teacher" nillable="true" type="tns:teacher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfteacher" nillable="true" type="tns:ArrayOfteacher" />
  <xs:complexType name="ArrayOfClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Class" nillable="true" type="tns:Class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClass" nillable="true" type="tns:ArrayOfClass" />
</xs:schema>